@model UserApp.Web.ViewModels.ListViewModel<UserApp.Web.ViewModels.ProductViewModel>

<h2>Products</h2>

<a asp-action="Create" class="btn btn-success">Create Product</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var p in Model.Items)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Price</td>

            <!-- IMAGE -->
            <td>
                <td>@p.ImageUrl</td>
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@p.Id">Edit</a>

                <form asp-action="Delete" asp-route-id="@p.Id" method="post">
                    <button>Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>